<div class="header">
  <ul>
      <li class="normal-li m-li">
          <a class="nav-link" [routerLink]='["/"]'>
              Home
          </a>
      </li>
      <li class="normal-li m-li">
          <a class="nav-link" [routerLink]='["/download"]'>
              Download
          </a>
      </li>
      <li class="normal-li m-li">
          <a class="nav-link" [routerLink]='["/ref"]'>
              Reference
          </a>
      </li>
      <li class="normal-li m-li">
          <a class="nav-link" [routerLink]='["/about"]'>
              About
          </a>
      </li>
  </ul>
</div>