<nz-drawer *ngIf='this.drawerVisible' [(nzVisible)]='this.drawerVisible'
    [nzTitle]='this.drawerBookshelf&&this.drawerBookshelf.entity.name' [nzClosable]="true" (nzOnClose)='this.drawerVisible=false'
    [nzWidth]='drawerWith'>
    <ng-container>
        <div *ngIf='this.drawerBookshelf.entity!=null'>
            
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" *ngIf='drawerIsInBookshelf' (click)="remove(this.drawerBookshelf)">
                Remove
            </button>
            <button nz-button nzType="primary" *ngIf='!drawerIsInBookshelf' (click)="add(this.drawerBookshelf.entity.comicUrl)">
                Add
            </button>
        </div>
            <p nz-typography>
                <nz-tag nzColor="#EEE">
                    <a [href]="this.drawerBookshelf.entity.comicUrl" target="_blank">Origin link</a>
                </nz-tag>
                <nz-tag nzColor="#ABC">
                    <a [href]='this.drawerBookshelf.entity.imageUrl' target="_blank">Logo Image Link</a>
                </nz-tag>
            </p>
            <h4 nz-typography>Description</h4>
            <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                {{this.drawerBookshelf.entity.descript}}
            </p>
            <h4 nz-typography>Chapters (<strong>{{this.drawerBookshelf.entity.chapters.length}}</strong>)</h4>
            <div>
                <ul nz-list [nzDataSource]="this.drawerBookshelf.entity.chapters" nzBordered nzSize="large">
                    <nz-list-item *ngFor="let item of this.drawerBookshelf.entity.chapters">
                        <span nz-typography>{{ item.title }}</span>
                        <a [href]="item.targetUrl">Go</a>                      
                    </nz-list-item>
                </ul>
            </div>
        </div>
    </ng-container>
</nz-drawer>
