@page "/"
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    public WebHomeViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewModel = new WebHomeViewModel();
        Console.WriteLine(ViewModel.ComicEngine.Count);
        await ViewModel.LoadEngineIcons();
    }
}