@page "/about" 
<div class="m-container">
    <div class="page-header">
        <h1 style="text-align: center;">Anf</h1>
        <h4 style="text-align: center;">
            Comic for yourself</h4>
            <div style="text-align: center;">
                <a href="#"><img src="https://img.shields.io/github/stars/Cricle/Anf" /></a>
                <a href="#"><img src="https://img.shields.io/github/license/Cricle/Anf" /></a>
                <a href="#"><img src="https://img.shields.io/github/issues/Cricle/Anf" /></a>
                <a href="#"><img src="https://img.shields.io/github/forks/Cricle/Anf" /></a>
                <a href="#"><img src="https://img.shields.io/badge/catch-no-blue" /></a>
            </div>
    </div>
    <div class="progress" style="margin: 40px 5% 0px 5%;filter: opacity(.5);">
        <div class="progress-bar progress-bar-success" style="width: 35%" title="Complated!">
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 25%" title="Studying!">
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 14%" title="I don't know!">
        </div>
    </div>

    <div>
        <h2>
            路线
        </h2>
        <p>
            <span class="label label-success m-route-item">Windows</span>
            →
            <span class="label label-success m-route-item">Uwp</span>
            →
            <span class="label label-default m-route-item">HTML5(OpenApi)</span>
            →
            <span class="label label-default m-route-item">OpenSources</span>
            →
            <span class="label label-default m-route-item">Linux</span>
            →
            <span class="label label-default m-route-item">Android</span>
            →
            <span class="label label-default m-route-item">?</span>
        </p>
        <strong>个人项目，不为盈利，只为更好地看漫画!</strong>
    </div>
    <div>
        <h2>数据架构</h2>
        <h4>
            Windows&Linux&MacOS(Comming)
        </h4>
        <p>
            从免费漫画网站直接提取资源，使用特殊手段(<s>魔法</s>)获取漫画信息和图片资源
        </p>
        <h4>
            HTML5&Android
        </h4>
        <p>
            由服务器从免费漫画网站提取资源，使用特殊手段(<s>魔法</s>)获取漫画信息和图片资源路径，制作页面由前端渲染图片
        </p>
    </div>
    <div>
        <h2>服务器架构</h2>
        <p>
            <span class="label label-default m-route-item">接受解析请求</span>
            →
            <span class="label label-default m-route-item">请求入队</span>
            →
            <span class="label label-default m-route-item">单线程解析</span>
            →
            <span class="label label-default m-route-item">章节缓存redis</span>
            →
            <span class="label label-default m-route-item">1小时后缓存失效</span>
        </p>
    </div>
    <div>
        <h2>使用协议</h2>
        <p>
            严禁使用于非法途径，严禁使用于盈利或商业途径，严禁高频请求
        </p>
    </div>
    <div>
        <h2>隐私策略</h2>
        <p>
            隐私信息我<strong>不会</strong>拿的！这些审核需要↓
        </p>
        <p>
            感谢您的支持，我们会重视您在体验中的个人隐私。同时您在使用我们的产品时，我们可能会收集和使用您的相关信息。我们希望通过本《隐私政策》向您说明，在使用我们的服务时，我们如何收集、使用、储存这些信息，以及我们为您提供的访问、更新、控制和保护这些信息的方式。本《隐私政策》与您所使用的本产品服务息息相关，希望您仔细阅读，在需要时，按照本《隐私政策》的指引，作出您认为适当的选择。本《隐私政策》中涉及的相关技术词汇，我们尽量以简明扼要的表述，以便您的理解。
        </p>
        <p>
            信息安全 我们仅在本《隐私政策》所述目的所必需的期间和法律法规要求的时限内保留您的个人信息。 我们使用各种安全技术和程序，以防信息的丢失、不当使用、未经授权阅览或披露。 如您不希望我们将您的个人信息用作前述广告用途，您可以通过我们在广告中提供的相关提示，或在特定服务中提供的指引，要求我们停止为上述用途使用您的个人信息。
        </p>
    </div>
    <div>
        <h2>
            以后
        </h2>
        <p><s>有UI的东西都好难搞，以后弄小黑框算了</s></p>
        <p>
            如果此行为损害了您的利益或影响了你或你的网站，请立即联系，我会尽快删除该源或删除整个网站。
            <small style="font-size: 1px;">
                也有可能会转去到搞其它项目
            </small>
        </p>
    </div>
</div>

@code{ 
    protected override bool ShouldRender()
    {
        return false;
    }
}