<div class="m-container" style="margin-top: 60px;">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-th-large" @onclick="Add"></span>
        </span>
        <input type="text" class="form-control" placeholder="Input to find parsed"
               @bind-value="Address">

    </div>
    <h5 style="text-align: center;">
        The websites is not parsed, let me does it? @(AddParseStatus)
    </h5>
</div>