@page "/download"
<div class="m-container">
    <div class="page-header">
        <h1>Download</h1>
    </div>
    <div class="media m-media">
        <div class="media-body">
            <h3 class="media-heading" style="display: inline;">
                Windows 7/8.1/10<span class="badge" style="margin-left:5px;">advise</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">X64</a></span>
                <span><a href="#">X86</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                Windows 10<span class="badge" style="margin-left:5px;">not bad</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">Uwp</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                Linux<span class="badge" style="margin-left:5px;">UI making</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">I think centos 7+</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                HTML5<span class="badge" style="margin-left:5px;">emmmm</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="/">Here!</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                Github<span class="badge" style="margin-left:5px;">Hello</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">Source code</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                Android<span class="badge" style="margin-left:5px;">Making</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">I don't know!</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                OpenApi<span class="badge" style="margin-left:5px;">Service will lack of resources</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">Here</a></span>
            </p>
        </div>
        <div class="media-body m-download-item">
            <h3 class="media-heading" style="display: inline;">
                MacOS<span class="badge" style="margin-left:5px;">No money</span>
            </h3>
            <p>
                <span>support architectures</span>
            </p>
            <p>
                <span><a href="#">Waiting partner!</a></span>
            </p>
        </div>
    </div>
</div>

@code{
    protected override bool ShouldRender()
    {
        return false;
    } 
}