<div>
    <div class="jumbotron">
        <div class="page-header">
            <h1 style="text-align: center;">Anf for Comic!</h1>
        </div>
        <div style="display: block;font-size: 20px;text-align: center;">
            <span class="label label-success">Win</span>
            <span class="label label-success">Win10</span>
            <span class="label label-default" title="I think it can does!">Linux</span>
            <span class="label label-danger" title="No monery do this!"><s>MacOS</s></span>
            <span class="label label-default" title="It is a try!">Android(Comming)</span>
            <span class="label label-primary" title="I am here!">H5</span>
            <span class="label label-primary" title="Hello!">OpenApi</span>
            <span class="label label-default" title="Listing!">Github(Comming)</span>
        </div>
    </div>
</div>


@code{
    protected override bool ShouldRender()
    {
        return false;
    } 
}