<div style="padding:2% 4% 0 4%">
    <div *ngIf='this.bookshelfs'>
        <div>
            <h3 [ngStyle]="{ margin: '16px 0' }" nz-tooltip
                nzTooltipTitle="I'm sure I won't tell you it's single threaded">Bookshelf
                ({{this.bookshelfs.length}})</h3>
            <nz-list nzSize="small" nzSplit="false">
                <nz-list-item *ngFor='let i of this.bookshelfs;' style="display: block;">
                    <div>
                        <div>
                            <nz-progress [nzPercent]="(((i.readChapter+1)/i.entity.chapters.length)*100).toFixed(2)"
                                [nzStrokeColor]="{ '0%': '#654321', '100%': '#123456' }" nzStatus="active"
                                [nzShowInfo]='false'></nz-progress>
                        </div>
                        <div>
                            <a [href]="i.entity.comicUrl" style="margin-right:10px;">{{i.entity.name}}</a>
                            <nz-spin *ngIf='i.readChapter+1!=i.entity.chapters.length' nzSimple
                                [nzIndicator]="indicatorTemplate" style="display: inline-block;">
                            </nz-spin>
                            <button nz-button nzType="text" nzDanger (click)='this.showInfo(i)'>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </button>
                            <button nz-button nzType="text" nzDanger (click)='this.remove(i)'>
                                <i nz-icon nzType="close" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </nz-list-item>
            </nz-list>
        </div>
    </div>
</div>
<nz-drawer *ngIf='this.drawerVisible' [(nzVisible)]='this.drawerVisible'
    [nzTitle]='this.drawerComic&&this.drawerComic.name' [nzClosable]="true" (nzOnClose)='this.drawerVisible=false'
    nzFooter="footerTpl" [nzWidth]='drawerWith'>
    <ng-container>
        <div *ngIf='this.drawerComic!=null'>
            <p nz-typography>
                <nz-tag nzColor="#EEE">
                    <a [href]="this.drawerComic.comicUrl" target="_blank">Origin link</a>
                </nz-tag>
                <nz-tag nzColor="#ABC">
                    <a [href]='this.drawerComic.imageUrl' target="_blank">Logo Image Link</a>
                </nz-tag>
            </p>
            <h4 nz-typography>Description</h4>
            <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                {{this.drawerComic.descript}}
            </p>
            <h4 nz-typography>Chapters (<strong>{{this.drawerComic.chapters.length}}</strong>)</h4>
            <p nz-typography>
                <nz-collapse nzGhost>
                    <nz-collapse-panel *ngFor='let i of this.drawerComic.chapters;' [nzHeader]="i.title"
                        [nzExtra]='extraTpl'>
                        <ng-template #extraTpl>
                            <a [href]='i.targetUrl' target="_blank">
                                <i nz-icon nzType="check"></i>
                            </a>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
            </p>
        </div>
    </ng-container>
    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" *ngIf='drawerIsInBookshelf' (click)="remove(this.drawerBookshelf)">
                Remove
            </button>
            <button nz-button nzType="primary" *ngIf='!drawerIsInBookshelf' (click)="add(this.drawerComic.comicUrl)">
                Add
            </button>
        </div>
    </ng-template>
</nz-drawer>

<ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>