<div class="m-container" style="margin:44px 0 0 0!important;">
  <app-giant-screen>
  </app-giant-screen>
  <div>
    <app-analysis-search>
    </app-analysis-search>
    <app-analysis-status>
      
    </app-analysis-status>
    <!-- <nz-drawer [nzClosable]="true" [nzVisible]="true" nzPlacement="right" nzTitle="Basic Drawer">
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>
    </nz-drawer> -->
  </div>
</div>