<div>
    <div class="jumbotron">
        <div class="page-header" style="margin-top: 5%;">
            <h1 style="text-align: center;">Anf for Comic!</h1>
        </div>
        <div class="bages" style="display: flex;justify-content: center;">
            <nz-tag nzColor="primary" class="badge badge-success">Win</nz-tag>
            <nz-tag nzColor="primary" class="badge badge-success">Win10</nz-tag>
            <nz-tag nzColor="accent" class="badge badge-dark" title="I think it can does!">Linux</nz-tag>
            <nz-tag nzColor="warn" class="badge badge-danger" title="No monery do this!"><s>MacOS</s></nz-tag>
            <nz-tag nzColor="accent" class="badge badge-dark" title="It is a try!">Android(Comming)</nz-tag>
            <nz-tag nzColor="primary" class="badge badge-primary" title="I am here!">H5</nz-tag>
            <nz-tag nzColor="primary" class="badge badge-primary" title="Hello!">OpenApi</nz-tag>
            <nz-tag nzColor="accent" class="badge badge-dark" title="Listing!">Github(Comming)</nz-tag>
    </div>
    </div>
</div>