<div class="m-container" style="margin-top: 60px;width: 100%;">
    <div style="display: flex;justify-content: center;">
        <mat-form-field>
            <mat-label>Comic</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" style="height: 36px;margin:auto; display: flex;">
            Search
        </button>
    </div>
</div>
<div>
    <h5 style="text-align: center;">
        The websites is not parsed, let me does it?
    </h5>
</div>
